@import 'tailwindcss';
@import 'flagpack/dist/flagpack.css';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude: scrollbar rootscrollgutter;
  themes:
    fantasy --default,
    sunset --prefersdark;
}

/** for smoother startups */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/** global styles */
body {
  @apply bg-base-100 h-full overflow-hidden overflow-y-auto;
}

h1,
h2,
h3,
legend,
th {
  @apply font-bold;
}

h2,
legend {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

img {
  max-width: 100%;
  transition: filter 0.3s ease-out;
}

table {
  & + & > caption {
    @apply border-t;
  }

  caption {
    @apply border-base-content/10 bg-base-200 border-b py-2 text-center;
  }

  tbody tr,
  tr {
    @apply border-b-base-content/10!;
  }

  thead tr,
  tfoot tr {
    @apply bg-base-200!;
  }
}

/** helps reduce the "web-like" feel of the app in electron */
#root,
#main,
#modal {
  @apply h-full cursor-default select-none;
  animation: fadein 0.5s;
}

/** remove outline from form elements */
input:focus,
select:focus,
.input:focus,
.input:focus-within,
textarea {
  @apply outline-none!;
}

/** patch meter element */
meter {
  @apply w-full;
}

meter::-webkit-meter-bar {
  @apply bg-base-content/20 h-2 rounded-2xl border-0;
}

/** main screen styles */
#main > header + * {
  @apply pt-16;
}

/** adjust flagpack stylings */
.fp {
  @apply box-content border border-black;
}

/** adjust react-hot-toast stylings */
.react-hot-toast {
  @apply text-base-content bg-base-100 max-w-none p-0;

  & > div {
    @apply m-0 mr-4;
  }

  dialog {
    @apply stack-x divide-base-content/10 static w-96 gap-0 divide-x sm:w-96;
  }

  dialog > section:first-child {
    @apply stack-x w-2/3 items-center gap-4 pl-4;
  }

  dialog > section + section {
    @apply w-1/3;
  }

  article {
    @apply py-5;
  }

  header {
    @apply font-bold;
  }

  footer {
    @apply italic;
  }

  svg {
    @apply size-8;
  }

  button {
    @apply btn btn-ghost btn-block h-full rounded-none;
  }
}

/** components */
@utility dashboard {
  & {
    @apply stack-y h-screen gap-0!;
  }

  & > header {
    @apply stack-x border-base-content/10 bg-base-200 w-full gap-0! border-b;
  }

  & > header > button {
    @apply btn btn-wide border-base-content/10 rounded-none border-0 border-r font-normal shadow-none;
  }

  main {
    @apply divide-base-content/10 grid h-0 flex-grow grid-cols-4 divide-x;
  }

  main > * {
    @apply overflow-y-scroll;
  }

  main > :nth-child(2) {
    @apply col-span-3;
  }

  header.prose {
    @apply heading max-w-none;
  }
}

@utility day {
  @apply card card-side border-base-content/10 bg-base-200 rounded-none border-b uppercase;

  &.day-active {
    @apply bg-base-300 font-black;
  }

  &.day-btn {
    @apply btn btn-neutral btn-block border-base-content/10 h-full rounded-none border-0 border-b;

    &:hover {
      @apply border-base-content/10;
    }

    figure {
      @apply w-full!;
    }

    figure svg {
      @apply size-10;
    }
  }

  figure {
    @apply w-1/2 flex-col text-center;

    p {
      @apply h-auto;
    }

    img,
    svg {
      @apply inline-block size-12;
    }
  }

  aside {
    @apply card-body items-center px-0;

    h2 {
      @apply card-title text-2xl font-black;
    }
  }
}

@utility form-ios {
  &.form-ios-col-2 fieldset > :not(legend) {
    @apply grid-cols-2;

    & > :first-child {
      @apply col-span-1;
    }
  }

  fieldset {
    @apply stack-y divide-base-content/10 gap-0! divide-y;
  }

  fieldset > * {
    @apply px-2;
  }

  fieldset > legend {
    @apply heading w-full;
    border-bottom-width: 0;
  }

  fieldset > :not(legend) {
    @apply grid w-full grid-cols-3 items-center py-2;

    & > :first-child {
      @apply col-span-2;
    }

    & > :not(:first-child) {
      @apply flex;
    }

    :first-child:has(.tooltip) {
      @apply relative;

      & > [class*='tooltip'] {
        @apply center absolute top-0 right-1 h-full;
      }
    }

    header > :not(:first-child) {
      @apply text-sm italic;
    }
  }

  input:not([type='checkbox'], [id*='react-select']),
  select,
  textarea {
    @apply bg-base-200!;
  }

  input[type='checkbox'] {
    @apply ml-auto;
  }
}

/** utilities */
@utility badge-xxs {
  @apply h-1 px-[.08rem] text-[.25rem]/[.25rem];
}

@utility center {
  @apply grid grid-cols-1 place-content-center place-items-center;
}

@utility frosted {
  @apply shadow-lg backdrop-blur-md;
}

@utility heading {
  @apply border-base-content/10 bg-base-200 border-y px-2 py-4;
}

@utility stack-x {
  @apply flex gap-2;
}

@utility stack-y {
  @apply flex flex-col gap-2;
}

@utility text-muted {
  @apply text-base-content/40 dark:text-base-content/20;
}

.faceit-scoreboard thead tr {
  background-color: inherit !important;
}

